body {
    margin: 0;
    background: #1B244A;
    font-family: Inter;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #EEEEEE;
}
.card{
    background: #080001;
    width: 150px;
    height: 90px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}
.score{
    position: relative;
    margin: auto;
    margin-top: 20px;
    font-size: 75px;
    font-family: sans-serif;
    color: #F94F6D;
    z-index: 2;
    width: 20px;
    height: 20px;
    text-align: center; 
}
.buttons{
    margin: auto;
    margin-top: 15px;
}
.btn{
    padding: 5px;
    width: 35px;
    margin: 3px;
    font-family: Inter;
    font-weight: 500;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    color: #9AABD8;  
}
.btn:hover{
    background: #9AABD8;
    color: #1B244A;
    resize: none;
}
.btn:focus, button:active{
    resize: none;
}
#reset{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}